<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notable</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes\style.css' %}" />
  </head>
  <body class="columns has-background-black-ter">
    <div class="column menu-container is-one-quarter">
      <div class="menu has-background-grey-darker">
        {% include 'menu.html' %}
      </div>
    </div>
    <div class="column note-container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent">
          {% for note in notes %}
            <div class="box tile is-child has-background-grey-darker has-text-light">
              <span class="note-title subtitle has-text-light">
                <b>{{ note.title }}</b>
                <div class="is-pulled-right">
                  <a href="{% url 'notes:edit_note' note.id %}" class="icon fas fa-pen has-text-warning"></a>
                  <a href="{% url 'notes:delete_note' note.id %}" class="icon fas fa-trash-can has-text-danger"></a>
                </div>
              </span>
            <br>
            {{ note.text }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
