<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes\style.css' %}?12345" />
</head>
<body class="columns has-background-black-ter">
    <div class="column menu-container is-one-quarter">
        <div class="menu has-background-grey-darker">
          <ul class="menu-list">
            <li><a class="has-text-light" href="{% url 'notes:index' %}">Home</a></li>
            <li><a class="has-text-light has-text-weight-bold" href="{% url 'notes:create_note' %}">New Note</a></li>
            <li>
              <a href="#createToDo" class="has-text-light">New To-do List</a>
            </li>
            <li><a href="#logOut" class="has-text-light">Log out</a></li>
          </ul>
        </div>
      </div>
    <div class="column note-container">
        <div class="box has-background-grey-darker has-text-light big-note">
            <span class="note-title title has-text-light"
            ><b>{{ note.title }}</b></span
          ><br />
          {{ note.text }}</a
        >
        <br>
        <br>
        <a href="{% url 'notes:edit_note' note.id %}"><button class="button outlined">Edit</button></a>
        <a href="{% url 'notes:delete_note' note.id %}"><button class="button outlined">Delete</button></a>
        </div>
    </div>
</body>
</html>